In [ ]:
import pandas as pd
import numpy as np
#from mlxtend.preprocessing import OnehotTransactions
from sklearn.preprocessing import OneHotEncoder
from mlxtend.frequent_patterns import apriori,association_rules

In [ ]:
all_txns=[]

with open('Groceries.csv') as f:
    content=f.readlines()
    txns=[x.strip() for x in content]
    
    for each_txn in txns:
        all_txns.append(each_txn.split(','))

In [ ]:
all_txns[0:5]

[['citrus fruit', 'semi-finished bread', 'margarine', 'ready soups'],
 ['tropical fruit', 'yogurt', 'coffee'],
 ['whole milk'],
 ['pip fruit', 'yogurt', 'cream cheese', 'meat spreads'],
 ['other vegetables',
  'whole milk',
  'condensed milk',
  'long life bakery product']]

In [ ]:
from mlxtend.preprocessing import TransactionEncoder
enc=TransactionEncoder()
enc_txns=enc.fit(all_txns).transform(all_txns)

In [ ]:
enc_df=pd.DataFrame(enc_txns,columns=enc.columns_)

In [ ]:
enc_df.shape

(9835, 169)

In [ ]:
frequent_itemset=apriori(enc_df,min_support=0.02,use_colnames=True)

In [ ]:
frequent_itemset.sample(10,random_state=90)

      support                            itemsets
60   0.020437          (bottled beer, whole milk)
52   0.033859                             (sugar)
89   0.035892  (other vegetables, tropical fruit)
105  0.021047   (root vegetables, tropical fruit)
88   0.032740            (other vegetables, soda)
16   0.058058                            (coffee)
111  0.024504         (shopping bags, whole milk)
36   0.079817                        (newspapers)
119  0.056024                (yogurt, whole milk)
55   0.071683                (whipped/sour cream)

In [ ]:
rules=association_rules(frequent_itemset,
                       metric="lift",
                       min_threshold=1)

In [ ]:
rules.sample(10)

            antecedents         consequents  ...  leverage  conviction
46   (other vegetables)              (pork)  ...  0.010502    1.061118
49         (rolls/buns)  (other vegetables)  ...  0.007013    1.049620
41         (whole milk)        (newspapers)  ...  0.006957    1.030490
102              (soda)            (yogurt)  ...  0.003025    1.020577
45          (pip fruit)  (other vegetables)  ...  0.011494    1.232118
63             (yogurt)  (other vegetables)  ...  0.016424    1.170929
42             (pastry)  (other vegetables)  ...  0.005358    1.080695
40         (newspapers)        (whole milk)  ...  0.006957    1.132597
21         (whole milk)      (citrus fruit)  ...  0.009355    1.041577
68             (pastry)        (whole milk)  ...  0.010516    1.188729

[10 rows x 9 columns]

In [ ]:
rules.sort_values('confidence',ascending=False)[0:10]

                             antecedents  ... conviction
120           (other vegetables, yogurt)  ...   1.528340
17                              (butter)  ...   1.480817
24                                (curd)  ...   1.461085
114  (root vegetables, other vegetables)  ...   1.457687
115        (root vegetables, whole milk)  ...   1.533320
29                       (domestic eggs)  ...   1.412030
108                 (whipped/sour cream)  ...   1.352735
90                     (root vegetables)  ...   1.350401
50                     (root vegetables)  ...   1.426693
32                   (frozen vegetables)  ...   1.294636

[10 rows x 9 columns]